<div class="subnavigation clearfix">
	<h2>Alle Benutzer</h2>
	<div class="functions">
		<%= link_to "&raquo; Neuer Benutzer", new_backend_user_path %>
	</div>
</div>
<ul id="category-list" class="category record-list">
	<% for user in @users do %>
	<li class="row clearfix">
	<div class="column title">
		<span>
			<%= link_to user.email, backend_user_path(user) %>
		</span>
	</div>
	<div class="column options">
		<a href="javascript:void(0);"><img src="/vrame/images/admin/led-<%= if user.active then 'green' else 'red' end %>.png" alt="" /></A>
		<%= link_to '<img src="/vrame/images/admin/edit.png" border="0" alt="Editieren" title="Editieren" />', edit_backend_user_path(user) %>
		<%= link_to '<img src="/vrame/images/admin/delete.png" border="0" alt="Löschen" title="Löschen" />', [:backend, user], :method => :delete, :confirm => 'Wirklich löschen?' %>
	</div>
	</li>
	<% end %>
</ul>