<h2>Benutzer <%=h @user.email %></h2>

<table width="100%">
	<tr>
		<td><strong>E-Mail:</strong></td>
		<td><%=h @user.email %></td>
	</tr>
	<tr>
		<td><strong>Aktiv:</strong></td>
		<td><img src="/vrame/images/admin/led-<%= if @user.active then 'green' else 'red' end %>.png" alt="" /></td>
	</tr>
	<tr>
		<td><strong>Administrator:</strong></td>
		<td><img src="/vrame/images/admin/led-<%= if @user.admin then 'green' else 'red' end %>.png" alt="" /></td>
	</tr>
</table><br />

<%= link_to 'Benutzer bearbeiten', edit_backend_user_path(@user) %>