<ol class="asset-list">
<% for asset in assets %>
	<li>
		<% if asset.class == Image %>
			<p class="image-wrapper" fullurl="<%= h(asset.file.url(:full)) %>" title="<%=h asset.title %>">
				<img src="<%= h(asset.file.url(:thumbnail)) %>" alt="" />
			</p>
		<% else %>
			<p><%=h asset.file.original_filename %></p>
		<% end %>
		
		<p class="controls">
			<%= link_to 'Edit',                            nil, :class => 'smaller edit button invert' %>
			<%= link_to 'Löschen', "/vrame/assets/#{asset.id}", :class => 'smaller delete button invert', 'data-authenticity-token' => form_authenticity_token %>
		</p>
	</li>
<% end %>
</ol>
