<% form_for [:vrame, category, document] do |f| %>
	<%= f.hidden_field :category_id, :value => category.id %>
	
	<fieldset>
		<ul>
			<li style="border-bottom: 0">
				<%= f.text_field :title, :placeholder => 'Titel', :class => 'big' %> <em><%= f.error_message_on :title %></em>
			</li>
			
			<li class="last">
				<%= render :partial => 'vrame/shared/slug_field', :locals => { :sluggable => document } %>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<h3>Sichtbarkeit</h3>
		<ul>
			<li>
				<%= f.labelled_check_box :published, "Veröffentlicht" %>
			</li>
			<li>
				<%= f.labelled_check_box :searchable, "Durchsuchbar" %>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<h3>Meta-Informationen</h3>
		<ol id="meta-fields">
		<% category.schema.each do |field| %>
			<%= render :partial => 'meta_field', :locals => { :document => document, :field => field } %>
		<% end %>
		</ol>
	</fieldset>
	
	<fieldset>
		<h3>Meta-Tags <span><a href="#meta-tags" class="expandable button invert">v</a></span></h3>
		<ul id="meta-tags" class="hide">
			<li>
				<%= f.label :meta_title, "Browser-Titel:" %>
				<%= f.text_field :meta_title %> <em><%= f.error_message_on :meta_title %></em>
			</li>
			<li>
				<%= f.label :meta_keywords, "Meta-Keywords:" %>
				<%= f.text_field :meta_keywords %> <em><%= f.error_message_on :meta_keywords %></em>
			</li>
			<li class="last">
				<%= f.label :meta_description, "Meta-Description:" %>
				<%= f.text_field :meta_description %> <em><%= f.error_message_on :meta_description %></em>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<h3>Systeminformationen <span><a href="#system-information" class="expandable button invert">v</a></span></h3>
		<ul id="system-information" class="hide">
			<li>
				<%= f.label :template, "Template:" %>
				<%= f.text_field :template %> <em><%= f.error_message_on :template %></em>
			</li>
			<li>
				<%= f.label :layout, "Layout:" %>
				<%= f.text_field :layout %> <em><%= f.error_message_on :layout %></em>
			</li>
			<li>
				<%= f.label :url, "URL:" %>
				<%= f.text_field :url %> <em><%= f.error_message_on :url %></em>
			</li>
			<li>
				<%= f.label :backend_url, "Backend-URL:" %>
				<%= f.text_field :backend_url %> <em><%= f.error_message_on :backend_url %></em>
			</li>
			<li class="last">
				<%= f.label :language_id, "Sprache:" %>
				<%= collection_select :document, :language_id, Language.all, :id, :name %>
			</li>
		</ul>
	</fieldset>
	
	<ul>
		<li class="last">
			<%= f.submit 'Speichern' %> oder <%= link_to '&laquo; zurück', vrame_categories_path %>
		</li>
	</ul>
	
<% end %>