<% form_for [:vrame, category, document] do |f| %>
	<%= f.hidden_field :category_id, :value => category.id %>
	
	<fieldset>
		<ul>
			<li style="border-bottom: 0">
				<%= f.text_field :title, :placeholder => 'Titel', :class => 'big' %> <em><%= f.error_message_on :title %></em>
			</li>
			
			<li class="last">
				<%= render :partial => 'vrame/shared/slug_field', :locals => { :sluggable => document } %>
			</li>
		</ul>
	</fieldset>
	
	<% if category.schema and !category.schema.empty? %>
		<fieldset>
			<h3>Meta-Informationen</h3>
			<ol id="keys-values">
				<% category.schema.each do |item| %>
					<%= render :partial => 'meta_field', :locals => { :document => document, :item => item } %>
				<% end %>
			</ol>
		</fieldset>
	<% end %>
	
	<fieldset>
		<h3>Meta-Tags <span><a href="#meta-tags" class="expandable button invert">v</a></span></h3>
		<ul id="meta-tags" class="hide">
			<li>
				<%= f.label :meta_title, "Browser-Titel:" %>
				<%= f.text_field :meta_title %> <em><%= f.error_message_on :meta_title %></em>
			</li>
			<li>
				<%= f.label :meta_keywords, "Meta-Keywords:" %>
				<%= f.text_field :meta_keywords %> <em><%= f.error_message_on :meta_keywords %></em>
			</li>
			<li class="last">
				<%= f.label :meta_description, "Meta-Description:" %>
				<%= f.text_field :meta_description %> <em><%= f.error_message_on :meta_description %></em>
			</li>
		</ul>
	</fieldset>
	
	<fieldset>
		<h3>Systeminformationen <span><a href="#system-information" class="expandable button invert">v</a></span></h3>
		<ul id="system-information" class="hide">
			<li>
				<%= f.label :template, "Template:" %>
				<%= f.text_field :template %> <em><%= f.error_message_on :template %></em>
			</li>
			<li>
				<%= f.label :url, "URL:" %>
				<%= f.text_field :url %> <em><%= f.error_message_on :url %></em>
			</li>
			<li>
				<%= f.label :backend_url, "Backend-URL:" %>
				<%= f.text_field :backend_url %> <em><%= f.error_message_on :backend_url %></em>
			</li>
			<li class="last">
				<%= f.label :language_id, "Sprache:" %>
				<%= collection_select :document, :language_id, Language.all, :id, :name %>
			</li>
		</ul>
	</fieldset>
	
	<ul>
		<li class="last">
			<%= f.submit 'Speichern' %> oder <%= link_to '&laquo; zurück', vrame_categories_path %>
		</li>
	</ul>
	
<% end %>

<ul style="display: none">
	<li id="image-prototype">
		<p class="image-wrapper" fullurl="" title="">
		    <img src="" alt="" />
		</p>
		<p class="controls">
		    <%= link_to 'Edit',    '', :class => 'smaller edit button invert' %>
		    <%= link_to 'Löschen', '', :class => 'smaller delete button invert' %>
		</p>
	</li>
</ul>

<%# TODO/FIXME: Make unobtrusive %>
<script type="text/javascript">
jQuery(function () {

	jQuery('.delete').click(function () {
		
		if (!confirm('Wirklich löschen?'))
			return false;
		
		var image = jQuery(this).parent().parent();
		var url = jQuery(this).attr('href');
		var params = {
			_method: 'delete',
			authenticity_token: '<%= form_authenticity_token %>'
		}
		
		jQuery.post(url, params, function (data, textStatus) {
			image.hide();
		});
		
		return false;
	});
});
</script>