<% name = item['name'] %>
<% type = item['type'] %>
<% uid = item['uid'] %>
<% value = document.meta.nil? ? nil : document.meta[uid] %>

<li class="clearfix">

<% if type == "String" %>
	
	<label for="document[meta[<%= uid %>]]"><%= h name %></label>
	
	<div class="input-container">
		<input name="document[meta[<%= uid %>]]" type="text" value="<%= h value %>" />
	</div>
	
<% elsif type == "Text" %>
	
	<label for="document[meta[<%= uid %>]]"><%= h name %></label>
	
	<div class="input-container">
		<textarea name="document[meta[<%= uid %>]]" id="document-meta-<%= uid %>" class="rte-zone"><%= value %></textarea>
	</div>
	
<% elsif type == "Datetime" %>
	
	<label for="document[meta[<%= uid %>]]"><%= h name %></label>
	
	<div class="input-container">
		<input id="document_meta_<%= uid %>" class="datepicker" name="document[meta[<%= uid %>]]" type="text" value="<%= value %>" />
	</div>
	
<% elsif type == "File" %>
	
	<label for="document[meta[<%= uid %>]]"><%= h name %></label>
	
	<div
		class="input-container file-upload"
		data-upload-type="<%=h type %>"
		data-upload-token="<%=h current_user.single_access_token %>"
		data-document-id="<%=h document.id %>"
	>
		<input type="hidden" name="document[meta[<%= uid %>]]" class="asset-id" value="<%= h value.try(:id) %>" />
		
		<p class="upload-button" id="upload-button-<%= uid %>">Bitte aktivieren Sie Flash für den Datei-Upload</p>
		
		<ol class="upload-queue"></ol>
		
		<% if value %>
			<p><%=h value.inspect %></p>
			<%= render :partial => 'asset_list', :locals => { :assets => [ value ] } %>
		<% end %>
		
	</div><!-- /.input-container -->
	
<% elsif type == "Collection" %>
	
	<label for="document[meta[<%= uid %>]]"><%= h name %></label>
	
	<div
		class="input-container file-upload"
		data-upload-type="<%=h type %>"
		data-upload-token="<%=h current_user.single_access_token %>"
		data-document-id="<%=h document.id %>"
		data-collection-id="<%=h value.try(:id) %>"
	>
		<input type="hidden" name="document[collection_ids][]" class="collection-id" value="<%= h value.try(:id) %>" />
		<input type="hidden" name="document[meta[<%= uid %>]]" class="collection-id" value="<%= h value.try(:id) %>" />
		
		<p class="upload-button" id="upload-button-<%= uid %>">Bitte aktivieren Sie Flash für den Datei-Upload</p>
		
		<ol class="upload-queue"></ol>
		
		<% if value %>
			<p><%=h value.inspect %></p>
			<%= render :partial => 'asset_list', :locals => { :assets => value.assets } %>
		<% end %>
		
	</div><!-- /.input-container -->
	
<% end %>

</li>