<% value = document.meta.send(field.name) %>

<% field_name = "document[meta[values[#{field.uid}]]]" %>
<% field_id   = "document-meta-#{field.uid}" %>

<li class="clearfix">

	<label for="<%= field_id %>"><%= h field.title %></label>
	
	<div class="input-container">

	<% if field.type == "String" %>
		
		<input type="text" name="<%= field_name %>" id="<%= field_id %>" value="<%= h value %>" />
		
	<% elsif field.type == "Text" %>
		
		<textarea name="<%= field_name %>" id="<%= field_id %>" class="rte-zone"><%= value %></textarea>
		
	<% elsif field.type == "Datetime" %>
		
		<input type="text" name="<%= field_name %>" id="<%= field_id %>" value="<%= value %>" class="datepicker" />
		
	<% elsif field.type == "File" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:asset => value,
			:field_name => field_name
		} %>
		
	<% elsif field.type == "Collection" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:collection => value,
			:field_name => field_name
		} %>
		
	<% end %>

	</div><!-- /.input-container -->
</li>