<% name  = "document[meta[values[#{field.uid}]]]" %>
<% id    = "document-meta-#{field.uid}" %>
<% value = document.meta.send(field.name) %>

<li class="clearfix">

	<label for="<%= id %>"><%= h field.title %></label>
	
	<div class="input-container">

	<% if field.type == "String" %>
		
		<input type="text" name="<%= name %>" id="<%= id %>" value="<%= h value %>" />
		
	<% elsif field.type == "Text" %>
		
		<textarea name="<%= name %>" id="<%= id %>" class="rte-zone"><%= value %></textarea>
		
	<% elsif field.type == "Datetime" %>
		
		<input type="text" name="<%= name %>" id="<%= id %>" value="<%= value %>" class="datepicker" />
		
	<% elsif field.type == "File" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:asset => value,
			:field_name => name
		} %>
		
	<% elsif field.type == "Collection" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:collection => value,
			:field_name => name
		} %>
		
	<% elsif type == "Placemark" %>

		<%= render :partial => 'vrame/shared/placemark', :locals => {
			:field_id => field_id,
			:parent => document,
			:field_name => field_name,
			:value => value
		} %>

	<% end %>

	</div><!-- /.input-container -->
</li>