<% name  = "document[meta[values[#{field.uid}]]]" %>
<% uid   = "document-meta-#{field.uid}" %>
<% value = document.meta[field.name] %>

<li class="meta-field clearfix">
	
	<label for="<%= uid %>"><%= h field.title %></label>
	
	<% unless field.description.blank? %>
		<p class="meta-field-description"><%=h field.description %></p>
	<% end %>
	
	<div class="input-container">
	
	<% case field when JsonObject::Types::String %>
		
		<input type="text" name="<%= name %>" id="<%= uid %>" value="<%= h value %>" />
		
	<% when JsonObject::Types::Text %>
		
		<textarea name="<%= name %>" id="<%= uid %>" class="rte-zone"><%= value %></textarea>
		
	<% when JsonObject::Types::Bool %>
		<%
=begin
		%>
		<input type="hidden"   name="<%= name %>" value="0" />
		<input type="checkbox" name="<%= name %>" id="<%= uid %>" <% 'checked="checked"' if value == '1' %> />
		<%
=end
		%>
		<%= check_box_tag name, '1', value, :id => uid %>
		
	<% when JsonObject::Types::Datetime %>
		
		<input type="text" name="<%= name %>" id="<%= uid %>" value="<%= value %>" class="datepicker" />
		
	<% when JsonObject::Types::Select %>
	
	Select not implemented
	
	<% when JsonObject::Types::MultiSelect %>
	
  MultiSelect not implemented

	<% when JsonObject::Types::Asset %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:asset => value,
			:parent => document,
			:field_name => name
		} %>
		
	<% when JsonObject::Types::Collection %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:collection => value,
			:parent => document,
			:field_name => name
		} %>
		
	<% when JsonObject::Types::Placemark %>

		<%= render :partial => 'vrame/shared/placemark', :locals => {
			:field_id   => uid,
			:parent     => document,
			:field_name => name,
			:value      => value
		} %>

	<% end # case %>
	
	</div><!-- /.input-container -->
</li><!-- /li.clearfix -->