<% name  = "document[meta[values[#{field.uid}]]]" %>
<% id    = "document-meta-#{field.uid}" %>
<% value = document.meta.send(field.name) %>

<li class="meta-field clearfix">
	
	<label for="<%= id %>"><%= h field.title %></label>
	
	<% unless field.description.blank? %>
		<p class="meta-field-description"><%=h field.description %></p>
	<% end %>
	
	<div class="input-container">
	
	<% case field.type when "String" %>
		
		<input type="text" name="<%= name %>" id="<%= id %>" value="<%= h value %>" />
		
	<% when "Text" %>
		
		<textarea name="<%= name %>" id="<%= id %>" class="rte-zone"><%= value %></textarea>
		
	<% when "Bool" %>
		
		<input type="hidden"   name="<%= name %>" id="<%= id %>" value="0" />
		<input type="checkbox" name="<%= name %>" id="<%= id %>" <% 'checked="checked"' if value == '1' %> />
		
	<% when "Datetime" %>
		
		<input type="text" name="<%= name %>" id="<%= id %>" value="<%= value %>" class="datepicker" />
		
	<% when "File" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:asset => value,
			:field_name => name
		} %>
		
	<% when "Collection" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:collection => value,
			:field_name => name
		} %>
		
	<% when "Placemark" %>

		<%= render :partial => 'vrame/shared/placemark', :locals => {
			:field_id => id,
			:parent => document,
			:field_name => name,
			:value => value
		} %>

	<% end # case %>
	
	</div><!-- /.input-container -->
</li><!-- /li.clearfix -->