<% name = item['name'] %>
<% type = item['type'] %>
<% uid = item['uid'] %>

<% value = document.meta ? document.meta[uid] : nil %>

<% field_name = "document[meta[#{uid}]]" %>
<% field_id = "document-meta-#{uid}" %>

<li class="clearfix">

	<label for="<%= field_id %>"><%= h name %></label>
	
	<div class="input-container">

	<% if type == "String" %>
		
		<input type="text" name="<%= field_name %>" id="<%= field_id %>" value="<%= h value %>" />
		
	<% elsif type == "Text" %>
		
		<textarea name="<%= field_name %>" id="<%= field_id %>" class="rte-zone"><%= value %></textarea>
		
	<% elsif type == "Datetime" %>
		
		<input type="text" name="<%= field_name %>" id="<%= field_id %>" value="<%= value %>" class="datepicker" />
		
	<% elsif type == "File" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:asset => value,
			:field_name => field_name
		} %>
		
	<% elsif type == "Collection" %>
		
		<%= render :partial => 'vrame/shared/file_upload', :locals => {
			:type => "file",
			:parent => document,
			:collection => value,
			:field_name => field_name
		} %>
		
	<% elsif type == "Placemark" %>

		<%= render :partial => 'vrame/shared/placemark', :locals => {
			:field_id => field_id,
			:parent => document,
			:field_name => field_name
		} %>

	<% end %>

	</div><!-- /.input-container -->
</li>