<% form_for [:vrame, language] do |f| %>
	<ul>
		<li>
			<%= f.label :name, "Name:" %>
			<%= f.text_field :name %> <em><%= f.error_message_on :name %></em>
		</li>
		<li>
			<%= f.label :iso2_code, "ISO2 Code:" %>
			<%= f.text_field :iso2_code %> <em><%= f.error_message_on :iso2_code %></em>
		</li>
		<li class="last">
			<%= f.submit 'Speichern', :class => 'submit' %> oder <%= link_to '« zurück', admin_languages_path %>
		</li>
	</ul>
<% end %>