<% file = asset.file %>
<li class="asset">
	
	<% if asset.is_a?(Image) %>
		<div class="image-wrapper" fullurl="<%= h(file.url(:full)) %>" title="Klicken zum Vergrößern">
			<img src="<%= h(file.url(:thumbnail)) %>" alt="" />
		</div>
	<% end %>
	
	<div class="beside-image">
		
		<p class="filename"><%=h file.original_filename %></p>
		<p class="filesize"><%= number_to_human_size(file.size) %></p>
		
		<p class="title">
			<label>
				<span>Titel bearbeiten:</span>
				<textarea name="title" data-asset-id="<%= asset.id %>" data-authenticity-token="<%= form_authenticity_token %>"><%=h asset.title %></textarea>
			</label>
		</p>
		
		<p class="delete"><%= link_to 'Löschen', vrame_asset_path(asset), :class => 'smaller delete button invert', 'data-authenticity-token' => form_authenticity_token %></p>
		<p class="edit"><%= link_to 'Editieren', edit_vrame_asset_path(asset), :class => 'smaller edit button invert' %></p>
		
	</div>
	
</li>