<% if defined?(asset) :
		type = :asset
		assets = [asset]
		asset_id = asset.try(:id)
	elsif defined?(collection) :
		type = :collection
		assets = collection.assets
		collection_id = collection.try(:id)
	end %>

<div
	class             = "file-upload"
	data-upload-token = "<%=h current_user.single_access_token %>"
	data-parent-id    = "<%=h parent.id %>"
	data-parent-type  = "<%=h parent.class.to_s %>"
	data-upload-type  = "<%=h type.to_s %>"
	<% if defined?(collection_id) and collection_id -%>
		data-collection-id = "<%=h collection_id %>"
	<%- end %>
>
	
	<% if type == :asset %>
		<input type="text" class="asset-id" value="<%= h asset_id %>" name="<%=h parent.class.to_s.downcase %>[asset_ids][]" />
		<input type="text" class="asset-id" value="<%= h asset_id %>" name="<%= field_name %>" />
	<% elsif type == :collection %>
		<input type="text" class="collection-id" value="<%= h collection_id %>" name="<%=h parent.class.to_s.downcase %>[collection_ids][]" />
		<input type="text" class="collection-id" value="<%= h collection_id %>" name="<%= field_name %>" />
	<% end %>
	
	<% defined?(@upload_button_number) ? @upload_button_number += 1 : @upload_button_number = 1 %>
	<p class="upload-button" id="upload-button-<%= @upload_button_number %>">
		Bitte aktivieren Sie Flash für den Datei-Upload.
	</p>

	<ol class="upload-queue"></ol>

	<%= render :partial => 'vrame/shared/asset_list', :locals => { :assets => assets } %>

</div><!-- /.file-upload -->