<% if defined?(asset) :
	type = 'asset'
	assets = [asset]
	id = asset.try(:id)
elsif defined?(collection) :
	type = 'collection'
	assets = collection.is_a?(Collection) ? collection.assets : []
	id = collection.try(:id)
end %>

<% parent_name = parent.class.to_s %>
<% parent_name_lowercase = parent_name.downcase %>

<div
	class             = "file-upload"
	data-upload-token = "<%=h current_user.single_access_token %>"
	data-parent-id    = "<%=h parent.id %>"
	data-parent-type  = "<%=h parent_name %>"
	data-upload-type  = "<%=h type %>"
	<% if type == 'collection' and id -%>
		data-collection-id = "<%=h id %>"
	<%- end %>
>
	
	<input type="text" class="<%= type %>-id" value="<%= id %>" name="<%=h parent_name_lowercase %>[<%= type %>_ids][]" />
	<input type="text" class="<%= type %>-id" value="<%= id %>" name="<%= field_name %>" />
	
	<% defined?(@upload_button_number) ? @upload_button_number += 1 : @upload_button_number = 1 %>
	<p class="upload-button" id="upload-button-<%= @upload_button_number %>">
		Bitte aktivieren Sie Flash für den Datei-Upload.
	</p>

	<ol class="upload-queue"></ol>
	
	<%= render :partial => 'vrame/shared/asset_list', :locals => { :assets => assets } %>
	
</div><!-- /.file-upload -->