<ol class="select-options">
<% field.options.each do |option| %>
	<li>
		<label>
			<input
				<% if field.is_a? JsonObject::Types::MultiSelect %>
					type="checkbox"
					<%= 'checked="checked"' if value.include?(option) %>
				<% else %>
					type="radio"
					<%= 'checked="checked"' if value==option %>
				<% end %>
				name="<%= field_name %>"
				value="<%=h option %>">
			<%= h option %>
		</label>
	</li>
<% end %>
</ol>