<tr class="category even nesting-level-<%= level %>">
	<td><img src="/vrame/images/admin/folder.png" alt="Category" /></td>
	<td class="title">
		<%- if defined? level and level > 0 -%><img src="/vrame/images/admin/child.png" alt="" /><%- end -%>
		<%= link_to h(category.title), category.backend_url != "" ? category.backend_url_path : [:vrame, category] %>
	</td>
	<td class="slug">
		<%=h category.to_param %>
	</td>
	<td class="options">
		<% if category.backend_url != "" %>
			<%= link_to "Einträge ansehen", category.backend_url_path, :class => 'list'  %>
			<br />
		<% end %>
		<%= link_to "Bearbeiten", [:edit, :vrame, category], :class => 'edit' %>
		<%= link_to "Löschen", [:vrame, category], :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
		<%= link_to "Dokument hinzufügen",
			category.backend_url.empty? ? [:new, :vrame, category, :document] : category.backend_url_path + '/new',
			:class => 'add' %>
	</td>
	<td class="order">
		<%= link_to '<img src="/vrame/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" />', order_up_vrame_category_path(category) %>
		<%= link_to '<img src="/vrame/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" />', order_down_vrame_category_path(category) %>
	</td>
</tr>