<li
	class="row item document nesting-level-<%= level %> clearfix"
	id="document-<%=h document.to_param %>"
	data-parent-id = "<%=h document.category_id %>"
	data-type="document"
>
	
	<div class="column icon">
		<img src="/vrame/images/admin/page.png" alt="Dokument" title="Dokument" />
	</div>
	
	<div class="column title">
		<span>
			<%= link_to h(document.title), [:edit, :vrame, document] %>
		</span>
	</div>

	<div class="image">
		<% if document.meta and document.meta.schema.has_attribute?(:image) %>
			<img src="<%= document.meta.image.file.url(:vrame_backend) %>" />
		<% else %>
			&nbsp;
		<% end %>
	</div>

	<div class="column slug" title="Numerische ID: <%=h document.id %>">
		<%= link_to h(document.to_param), document %>
	</div>

	<div class="column options">
		<% if document.published %>
			<%= link_to '<img src="/vrame/images/admin/led-green.png" border="0" alt="Verstecken" title="Verstecken" />', [:unpublish, :vrame, document] %>
		<% else %>
			<%= link_to '<img src="/vrame/images/admin/led-red.png" border="0" alt="Veröffentlichen" title="Veröffentlichen" />', [:publish, :vrame, document] %>
		<% end %>
		<%= link_to '<img src="/vrame/images/admin/edit.png" border="0" alt="Editieren" title="Editieren" />', [:edit, :vrame, document] %>
		<%= link_to '<img src="/vrame/images/admin/delete.png" border="0" alt="Löschen" title="Löschen" />', [:vrame, document], :method => :delete, :confirm => 'Wirklich löschen?' %>
	</div>

	<div class="column order">
		<%= link_to '<img src="/vrame/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" />', [:order_up, :vrame, document] %>
		<%= link_to '<img src="/vrame/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" />', [:order_down, :vrame, document] %>
	</div>
	
</li>