<% form_for [:vrame, category] do |f| %>

    <fieldset>
        <ul id="title-slug">
            <li style="border-bottom: 0">
                <%= f.text_field :title, :placeholder => 'Titel', :class => 'big' %>
                <em><%= f.error_message_on :title %></em>
            </li>
            
            <li>
                <%= render :partial => 'vrame/shared/slug_field', :locals => { :sluggable => category } %>
            </li>

            <li class="last">
                <%= f.label :parent_id, 'Eltern-Kategorie:' %>
                <%= tree_select(:category, :parent_id, controller.category_by_language.roots, :id, :title, :include_blank => true) %>
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <h3>Dokument-Template</h3>
        <%= render :partial => 'vrame/categories/schema_builder/schema_builder',
                   :locals  => { :schema => category.schema, :schema_attribute => 'schema' } %>
    </fieldset>
    
    <% unless category.new_record? %>
    <fieldset>
        <%= link_to "Eigenschema editieren", edit_eigenschema_vrame_category_path(@category), :class => "button invert" %>
        <%= link_to "Meta-Informationen editieren", edit_eigenvalues_vrame_category_path(@category), :class => "button invert" %>
    </fieldset>
    <% end%>
    
    <fieldset>
        <h3>Meta-Tags</h3>
        <ul id="meta-tags">
            <li>
                <%= f.label :meta_title, "Browser-Titel:" %>
                <%= f.text_field :meta_title %>
                <em><%= f.error_message_on :meta_title %></em>
            </li>
            <li>
                <%= f.label :meta_keywords, "Meta-Keywords:" %>
                <%= f.text_field :meta_keywords %>
                <em><%= f.error_message_on :meta_keywords %></em>
            </li>
            <li class="last">
                <%= f.label :meta_description, "Meta-Description:" %>
                <%= f.text_field :meta_description %>
                <em><%= f.error_message_on :meta_description %></em>
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <h3>Sichtbarkeit</h3>
        <ul id="visibility">
            <li>
                <strong><%= f.labelled_check_box :published, "Veröffentlicht" %></strong>
            </li>
            <li>
                <%= f.labelled_check_box :hide_in_nav, "Im Menü verstecken (Frontend)" %>
            </li>
            <li class="last">
                <%= f.labelled_check_box :short_navigation, "Zeige in Schnell-Navigation (Backend)" %>
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <h3>Templates</h3>
        <ul id="templates">
            <li>
                <%= f.label :template, "Template:" %>
                <%= f.text_field :template %>
                <em><%= f.error_message_on :template %></em>
            </li>
            <li>
                <%= f.label :layout, "Layout:" %>
                <%= f.text_field :layout %>
                <em><%= f.error_message_on :layout %></em>
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <h3>URLs (eigene Controller)</h3>
        <ul id="urls">
            <li>
                <%= f.label :document_template, "Dokumenten Template:" %>
                <%= f.text_field :document_template %> <em><%= f.error_message_on :document_template %></em>
            </li>
            <li>
                <%= f.label :document_layout, "Dokumenten Layout:" %>
                <%= f.text_field :document_layout %> <em><%= f.error_message_on :document_layout %></em>
            </li>
            <li>
                <%= f.label :url, "Frontend-URL:" %>
                <%= f.text_field :url %>
                <em><%= f.error_message_on :url %></em>
            </li>
            <li class="last">
                <%= f.label :backend_url, "Backend-URL:" %>
                <%= f.text_field :backend_url %>
                <em><%= f.error_message_on :backend_url %></em>
            </li>
        </ul>
    </fieldset>
    
    <ul>
        <li class="last">
            <%= f.submit 'Speichern', :class => 'submit' %> oder <%= link_to '« zurück', vrame_categories_path %>
        </li>
    </ul>
    
<% end %>

<%= yield :schema_builder_after_form %>