<div class="subnavigation clearfix">
	<div class="functions">
		<%= link_to 'Kategorie editieren', edit_vrame_category_path(@active_category), :class => 'button', :id => 'active-category-edit' %>
		<%= link_to 'Neues Dokument', new_vrame_category_document_path(@active_category), :class => 'button', :id => 'active-category-new-document' %>
		<%= link_to 'Neue Unterkategorie', new_vrame_category_category_path(@active_category), :class => 'button', :id => 'active-category-new-category' %>
	</div>
	
	<h2 id="active-category-name">Kategorie-Übersicht</h2>
</div>

<div class="content-view clearfix" class="clearfix">
	<div class="categories">
		<% category_tree @categories do |category, level| %>
			<%= render :partial => 'vrame/categories/category', :locals => { :category => category, :level => level } %>
		<% end %>
	</div>
	<div id="items" class="items">
		<%= render :partial => 'vrame/categories/documents', :locals => { :documents => @documents, :category => @active_category } %>
	</div>
</div>