<div class="subnavigation clearfix">
	<div class="functions">
		<%- unless @category.nil? -%>
			<%= link_to 'Kategorie editieren', edit_vrame_category_path(@category), :class => 'button' %>
			<%= link_to 'Neues Dokument', new_vrame_category_document_path(@category), :class => 'button' %>
			<%= link_to 'Neue Unterkategorie', new_vrame_category_category_path(@category), :class => 'button' %>
		<% else %>
			<%= link_to 'Neue Kategorie', new_vrame_category_path, :class => 'button' %>
		<% end %>
	</div>
	
	<%- unless @category.nil? -%>
		<%= render :partial => 'vrame/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>
		<h2><%= h @category.title %></h2>
	<%- else -%>
		<h2>Kategorie-Übersicht</h2>
	<%- end -%>
</div>

<div class="content-view clearfix" class="clearfix">
	<div class="categories">
		<% category_tree @categories do |category, level| %>
			<%= render :partial => 'vrame/categories/category', :locals => { :category => category, :level => level } %>
		<% end %>
	</div>
	<div id="items" class="items">
		<%= render :partial => 'vrame/categories/documents', :locals => { :documents => @documents, :category => @active_category } %>
	</div>
</div>