<div class="subnavigation clearfix">
	<div class="functions">
		<%- unless @category.nil? -%>
			<%= link_to 'Kategorie editieren', edit_vrame_category_path(@category), :class => 'button' %>
			<%= link_to 'Neues Dokument', new_vrame_category_document_path(@category), :class => 'button' %>
			<%= link_to 'Neue Unterkategorie', new_vrame_category_category_path(@category), :class => 'button' %>
		<% else %>
			<%= link_to 'Neue Kategorie', new_vrame_category_path, :class => 'button' %>
		<% end %>
	</div>
	
	<%- unless @category.nil? -%>
		<%= render :partial => 'vrame/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>
		<h2><%= h @category.title %></h2>
	<%- else -%>
		<h2>Kategorie-Übersicht</h2>
	<%- end -%>
</div>

<div class="content-view clearfix" class="clearfix">
	<div class="categories">
		<% category_tree @categories do |category, level| %>
			<div id="category-<%= category.id.to_s %>" class="category level-<%= level.to_s %> <% if @active_category.id == category.id %>active<% end %> clearfix">
				
				<div class="column order">
					<%= link_to '<img src="/vrame/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" />', order_up_vrame_category_path(category) %>
					<%= link_to '<img src="/vrame/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" />', order_down_vrame_category_path(category) %>
				</div>
				
				<div class="column options">
					<% if category.published %>
						<%= link_to '<img src="/vrame/images/admin/led-green.png" border="0" alt="Verstecken" title="Verstecken" />', [:unpublish, :vrame, category] %>
					<% else %>
						<%= link_to '<img src="/vrame/images/admin/led-red.png" border="0" alt="Veröffentlichen" title="Veröffentlichen" />', [:publish, :vrame, category] %>
					<% end %>
					<%= link_to '<img src="/vrame/images/admin/edit.png" border="0" alt="Editieren" title="Editieren" />', [:edit, :vrame, category] %>
					<%= link_to '<img src="/vrame/images/admin/delete.png" border="0" alt="Löschen" title="Löschen" />', [:vrame, category], :method => :delete, :confirm => 'Wirklich löschen?' %>
					<%= link_to '<img src="/vrame/images/admin/page_add.png" border="0" alt="Dokument hinzufügen" title="Dokument hinzufügen" />',
						category.backend_url.empty? ? [:new, :vrame, category, :document] : category.backend_url_path + '/new'
					%>
					<%= link_to '<img src="/vrame/images/admin/magnifier.png" border="0" alt="Vorschau" title="Vorschau" />', category_path(category) %>
				</div>

				<div class="column title">
					<% if category.backend_url.empty? %>
						<%= link_to h(category_title(category)) , '#', :class => "category-button", :rel => category.id %>
					<% else %>
						<%= link_to h(category_title(category)) , category.backend_url_path, :rel => category.id %>
					<% end %>
				</div>

			</div>
		<% end %>
	</div>
	<div id="items" class="items">
		<%= render :partial => 'vrame/categories/documents', :locals => { :documents => @documents, :category => @active_category } %>
	</div>
</div>