<div class="subnavigation clearfix">
	<div class="functions">
		<%- unless @category.nil? -%>
			<%= link_to 'Kategorie editieren', edit_vrame_category_path(@category), :class => 'button' %>
			<%= link_to 'Neues Dokument', new_vrame_category_document_path(@category), :class => 'button' %>
			<%= link_to 'Neue Unterkategorie', new_vrame_category_category_path(@category), :class => 'button' %>
		<% else %>
			<%= link_to 'Neue Kategorie', new_vrame_category_path, :class => 'button' %>
		<% end %>
	</div>
	
	<%- unless @category.nil? -%>
		<%= render :partial => 'vrame/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>
		<h2><%= h @category.title %></h2>
	<%- else -%>
		<h2>Kategorie-Übersicht</h2>
	<%- end -%>
</div>

<div class="content-view clearfix" class="clearfix">
	<div class="categories">
		<% category_tree @categories do |category, level| %>
			<div id="category-<%= category.id.to_s %>" class="category level-<%= level.to_s %>">
				<%= link_to h(category.title), '#', :class => "category-button", :rel => category.id %>
			</div>
		<% end %>
	</div>
	<div id="items" class="items">
		<%= render :partial => 'vrame/categories/documents', :locals => { :documents => @documents } %>
	</div>
</div>

<script>
	jQuery(function($) {
		$('.category-button').click(function() {
			var categoryId = $(this).attr('rel');
			
			$('.categories ul li div').removeClass('active');
			$('#category-' + categoryId).addClass('active');
			
			$.ajax({
				url: "/vrame/categories/" + categoryId + "/documents",
				cache: false,
				success: function(html) {
					$('#items').html(html);
				},
				error: function(msg) {
					console.log(msg);
				}
			});
			
			return false;
		});
	});
</script>