<div class="subnavigation clearfix">
	<div class="functions">
		<%- unless @category.nil? -%>
			<%= link_to 'Kategorie editieren', edit_vrame_category_path(@category), :class => 'button' %>
			<%= link_to 'Neues Dokument', new_vrame_category_document_path(@category), :class => 'button' %>
			<%= link_to 'Neue Unterkategorie', new_vrame_category_category_path(@category), :class => 'button' %>
		<% else %>
			<%= link_to 'Neue Kategorie', new_vrame_category_path, :class => 'button' %>
		<% end %>
	</div>
	
	<%- unless @category.nil? -%>
		<%= render :partial => 'vrame/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>
		<h2><%= h @category.title %></h2>
	<%- else -%>
		<h2>Kategorie-Übersicht</h2>
	<%- end -%>
</div>

<ul id="category-list" class="category record-list">
	<%= render :partial => 'category_tree', :locals => { :category => @category, :categories => @categories } %>
</ul>

<%= render :partial => 'vrame/shared/pagination', :locals => { :paginatable => @categories } %>

<script>
	jQuery(function($) {
		// @mathias please as long as it is experimental leave it here, kthxbai
		/* Sortable list */
		$('#category-list').html5sortable({
			onDrop : function(hash) {
				var el     = hash.element;
				var target = hash.target;
				
				if(el.attr('data-parent-id') != target.attr('data-parent-id')) {
					// @todo update category id
					// via AJAX
					el.attr('data-parent-id', target.attr('data-parent-id'));
				}
				
				var items = jQuery('#category-list li.item[data-parent-id=' + el.attr('data-parent-id') + ']');
				items.each(function(i, o) {
					// @todo update positions
					// via ajax
					console.log(i + " -> " + o.id);
				});
			}
		});
	});
</script>