<div class="subnavigation clearfix">
	<h2>Alle Assets</h2>
</div>

<div class="table-container" id="asset-list">
	<table class="record-list">
		<thead>
			<tr>
				<th>Id</th>
				<th>Thumbnail</th>
				<th>Dateiname</th>
				<th>Größe</th>
				<th>Zugehörigkeit</th>
				<th>Funktionen</th>
			</tr>
		</thead>
		<tbody>
		<% for asset in @assets do %>
			<tr class="<%= cycle("even", "odd") -%>">
				<td class="id"><%=h asset.id %></td>
				<td class="thumbnail"><%= image_tag asset.file.url(:thumbnail_square), :alt => "" %></td>
				<td class="filename"><%= link_to h(asset.file.original_filename), edit_vrame_asset_path(asset) %></td>
				<td class="filesize"><%= number_to_human_size(asset.file.size) %></td>
				<td class="parent">
					<%= render :partial => 'vrame/assets/assetable', :locals => { :asset => asset } %>
				</td>
				<td class="options">
					<%= link_to image_tag("/vrame/images/admin/edit.png"), edit_vrame_asset_path(asset) %>
					<%= link_to image_tag("/vrame/images/admin/delete.png"), vrame_asset_path(asset), :method => :delete, :confirm => 'Wirklich löschen?' %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<%= render :partial => 'vrame/shared/pagination', :locals => { :paginatable => @assets } %>