<div class="subnavigation clearfix">
	<h2>Alle Assets</h2>
</div>

<div class="table-container" id="asset-list">
	<table class="record-list">
		<thead>
			<tr>
				<th>Id</th>
				<th>Thumbnail</th>
				<th>Dateiname</th>
				<th>Größe</th>
				<th>Zugehörigkeit</th>
				<th>Funktionen</th>
			</tr>
		</thead>
		<tbody>
			<% for asset in @assets do %>
				<tr class="<%= cycle("even", "odd") -%>">
					<td class="id"><%=h asset.id %></td>
					<td class="thumbnail"><%= image_tag asset.file.url(:thumbnail_square), :alt => "" %></td>
					<td class="filename"><%=h asset.file.original_filename %></td>
					<td class="filesize"><%=h number_to_human_size(asset.file.size) %></td>
					<td class="parent">
						<% assetable = asset.assetable %>
						<% if assetable %>
							<% if asset.assetable_type == 'Document' %>
								<p>Dokument</p>
								<p><%= link_to assetable.title, [:edit, :vrame, assetable] %></p>
							<% elsif asset.assetable_type == 'Collection' %>
								<% collectionable = assetable.collectionable %>
								<% if collectionable %>
									<p>Collection vom <%=h collectionable.class %></p>
									<p><%= link_to h(collectionable.title), [:edit, :vrame, collectionable] %></p>
								<% else %>
									<p>Collection ohne Zugehörigkeit</p>
								<% end %>
							<% else %>
								<p><%= link_to "#{asset.title} #{asset.assetable_type}", "/vrame/assets/#{asset.id}" %></p>
							<% end %>
						<% else %>
							<p>verwaist</p>
						<% end %>
						</td>
					<td class="options">
						<%= link_to "Delete", vrame_asset_path(asset), :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= render :partial => 'vrame/shared/pagination', :locals => { :paginatable => @assets } %>