<div class="subnavigation clearfix">
    <div class="functions">
        <%- unless @category.nil? -%>
	    <%= link_to 'Neues Dokument', new_admin_category_document_path(@category), :class => 'button' %>
	    <%- end -%>
		<%= link_to 'Neue Kategorie', new_admin_category_path, :class => 'button' %>
	</div>
	
    <%- unless @category.nil? -%>
	<%= render :partial => 'admin/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>
	<h2><%= h @category.title %></h2>
	<%- else -%>
	<h2>Kategorie-Übersicht</h2>
	<%- end -%>
</div>

<div class="table-container">
	<table class="list">
		<thead>
			<tr>
				<th></th>
				<th>Titel</th>
				<th>Slug</th>
				<th>Funktionen</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for category in @categories do %>
				<tr class="category even">
					<td><img src="/images/admin/folder.png" alt="Category" /></td>
					<td class="title">
						<%=h category.title %>
					</td>
					<td class="slug">
						<%=h category.to_param %>
					</td>
					<td class="options">
						<%= link_to "Bearbeiten", edit_admin_category_path(category), :class => 'edit' %>
						<%= link_to "Löschen", [:admin, category], :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
						<%= link_to "Dokument hinzufügen", new_admin_category_document_path(category), :class => 'add' %>
					</td>
					<td class="order">
						<a href="/admin/categories/order_up/<%= category.to_param %>"><img src="/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" /></a>
						<a href="/admin/categories/order_down/<%= category.to_param %>"><img src="/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" /></a>
					</td>
				</tr>
				<% for document in category.documents do %>
					<tr class="document odd">
						<td><img src="/images/admin/page.png" alt="Document" /></td>
						<td class="title">
							<img src="/images/admin/child.png" alt="" /> <%=h document.title %>
						</td>
						<td class="slug">
							<%=h document.to_param %>
						</td>
						<td class="options"
							<%= link_to "Bearbeiten", edit_admin_document_path(document), :class => 'edit' %>
							<%= link_to "Löschen", [:admin, document], :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
						</td>
						<td class="order">
							<a href="/admin/documents/order_up/<%= document.to_param %>"><img src="/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" /></a>
							<a href="/admin/documents/order_down/<%= document.to_param %>"><img src="/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" /></a>
						</td>
					</tr>
				<% end %>
				<% for child in category.children do %>
					<tr class="category child even">
						<td><img src="/images/admin/folder.png" alt="Category" /></td>
						<td class="title">
							<img src="/images/admin/child.png" alt="" /> <%=h child.title %>
						</td>
						<td class="slug">
							<%=h child.to_param %>
						</td>
						<td class="options">
							<%= link_to "Bearbeiten", edit_admin_category_path(child), :class => 'edit' %>
							<%= link_to "Löschen", [:admin, child], :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
							<%= link_to "Dokument hinzufügen", new_admin_category_document_path(child), :class => 'add' %>
						</td>
						<td class="order">
							<a href="/admin/categories/order_up/<%= child.to_param %>"><img src="/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" /></a>
							<a href="/admin/categories/order_down/<%= child.to_param %>"><img src="/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" /></a>
						</td>
					</tr>
					<% for document in child.documents do %>
						<tr class="document odd">
							<td><img src="/images/admin/page.png" alt="Document" /></td>
							<td class="title">
								&nbsp;&nbsp;&nbsp;<img src="/images/admin/child.png" alt="" /> <%=h document.title %>
							</td>
							<td class="slug">
								<%=h document.to_param %>
							</td>
							<td class="options">
								<%= link_to "Bearbeiten", edit_admin_document_path(document), :class => 'edit' %>
								<%= link_to "Löschen", [:admin, document], :method => :delete, :confirm => 'Wirklich löschen?', :class => 'delete' %>
							</td>
							<td class="order">
								<a href="/admin/documents/order_up/<%= document.to_param %>"><img src="/images/admin/arrow_up.png" border="0" alt="Weiter nach oben" /></a>
								<a href="/admin/documents/order_down/<%= document.to_param %>"><img src="/images/admin/arrow_down.png" border="0" alt="Weiter nach unten" /></a>
							</td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<%= render :partial => 'admin/shared/pagination', :locals => { :paginatable => @categories } %>