<% field = nil unless defined?(field) %>
<% visible_type = field ? /([a-zA-z]+)$/.match(field.class.name)[1] : '' %>
<% class_name = (field and %w(Asset Collection Select MultiSelect).include?(visible_type) ? ' has-field-options' : '') %>

<div class="schema-field clearfix<%= class_name %>">

<div class="main clearfix">

	<% if field %>
		<input type="hidden" name="category[{schema_attribute}][][uid]" value="<%=h field.uid %>" />
	<% end %>
	<input type="hidden" name="category[{schema_attribute}][][type]" value="<%=h field.class.name if field %>" class="internal-field-type" />
	<p class="visible-field-type"><%=h visible_type %></p>

	<p class="title">
		<label>Feldtitel:</label>
		<input type="text" name="category[{schema_attribute}][][title]" class="title" value="<%= h(field.try(:title)) %>" />
	</p><!-- /div.title -->

	<div class="actions">
		<a href="#" class="smaller remove button invert">Feld entfernen</a>
	</div><!-- /div.actions -->

</div><!-- /div.main -->

<p class="toggle-additional"><a href="javascript:void(0)">Weitere Optionen</a></p>

<div class="additional clearfix">

	<p class="name">
		<label>Interner Name:</label>
		<input type="text" name="category[{schema_attribute}][][name]" class="name" value="<%= h(field.try(:name)) %>" />
	</p>

	<p class="description">
		<label>Beschreibung:</label>
		<textarea name="category[{schema_attribute}][][description]" class="description"><%= h(field.try(:description)) %></textarea>
	</p>

	<p class="required">
		<input type="hidden" name="category[{schema_attribute}][][required]" value="<%= field.try(:required) %>" class="required-field" /> 
		<label class="required">
			<input type="checkbox" <%= 'checked="checked"' if field.try(:required) %> />
			Feld muss ausgefüllt werden
		</label>
	</p>

	<%# Field options %>
	<% if field.is_a?(JsonObject::Types::Asset) || field.is_a?(JsonObject::Types::Collection) %>
		<%= render :partial => 'vrame/categories/schema_builder/asset_styles', :locals => { :field => field } %>
	<% elsif field.is_a?(JsonObject::Types::Select) || field.is_a?(JsonObject::Types::MultiSelect) %>
		<%= render :partial => 'vrame/categories/schema_builder/select_options', :locals => { :field => field } %>
	<% end %>

</div><!-- /div.additional -->

</div><!-- /div.schema-field -->