<% field = nil unless defined?(field) %>
<% class_name = (field and field.class.name =~ /JsonObject::Types::(Asset|Collection|Select|MultiSelect)$/ ? ' has-field-options' : '') %>

<tr class="schema-field<%= class_name %>">

<td class="type">
	<% if field %>
		<input type="hidden" name="category[schema][][uid]" value="<%= h(field.uid) %>">
	<% end %>
	<select name="category[schema][][type]" class="type"><%= options_for_select(Category::TYPES_FOR_SELECT, :selected => field.class.name) %></select>
</td>

<td class="title-name">
	<p>
		<label>Titel:</label>
		<input type="text" name="category[schema][][title]" class="title" placeholder="Titel" value="<%= h(field.try(:title)) %>" />
	</p>
	<p>
		<label>Schlüssel:</label>
		<input type="text" name="category[schema][][name]" class="name" placeholder="Interner Schlüssel" value="<%= h(field.try(:name)) %>" />
	</p>
</td>

<td class="description">
	<textarea name="category[schema][][description]" class="description" placeholder="Beschreibung"><%= h(field.try(:description)) %></textarea>
</td>

<td class="required">
	<input type="hidden" name="category[schema][][required]" value="<%= field.try(:required) %>" class="required-field" /> 
	<label class="required">
		<input type="checkbox" <%= 'checked="checked"' if field.try(:required) %> />
		erforderlich?
	</label>
</td>

<td class="remove">
	<a href="#" class="smaller remove button invert">Entfernen</a>
</td>

</tr>

<%# Field options %>
<% if field.is_a?(JsonObject::Types::Asset) || field.is_a?(JsonObject::Types::Collection) %>
	<%= render :partial => 'vrame/categories/schema_builder/asset_styles', :locals => { :field => field } %>
<% elsif field.is_a?(JsonObject::Types::Select) || field.is_a?(JsonObject::Types::MultiSelect) %>
	<%= render :partial => 'vrame/categories/schema_builder/select_options', :locals => { :field => field } %>
<% end %>
