<% field_set = defined?(field) %>
<% class_name = (field_set and %w(Asset Collection Select Multiselect).include?(field.type) ? ' has-field-options' : '') %>

<tr class="schema-field<%= class_name %>">

<td class="type">
	<% if field_set %>
		<input type="hidden" name="fields[][uid]" value="<%= h(field.uid) %>">
	<% end %>
	<select name="fields[][type]" class="type""><%= options_for_select(Category::TYPES, field_set ? field.type : '') %></select>
</td>

<td class="title-name">
	<p>
		<label>Titel:</label>
		<input type="text" name="fields[][title]" class="title" placeholder="Titel" value="<%= h(field.title) if field_set %>" />
	</p>
	<p>
		<label>Schlüssel:</label>
		<input type="text" name="fields[][name]" class="name" placeholder="Interner Schlüssel" value="<%= h(field.name) if field_set %>" />
	</p>
</td>

<td class="description">
	<textarea name="fields[][description]" class="description" placeholder="Beschreibung"><%= h(field.description) if field_set %></textarea>
</td>

<td class="required">
	<% field_required = (field_set and field.required == '1') %>
	<input type="hidden" name="fields[][required]" value="<%= field_required ? 1 : 0 %>" class="required-field" /> 
	<label class="required">
		<input type="checkbox" <%= 'checked="checked"' if field_required %> />
		erforderlich?
	</label>
</td>

<td class="remove">
	<a href="#" class="smaller remove button invert">Entfernen</a>
</td>

</tr>

<%# Field options %>
<% if field_set %>
	<% if field.type == 'Asset' or field.type == 'Collection' %>
		<%= render :partial => 'vrame/categories/schema_builder/asset_styles' %>
	<% elsif field.type == 'Select' or field.type == 'Multiselect' %>
		<%= render :partial => 'vrame/categories/schema_builder/select_options', :locals => { :type => field.type } %>
	<% end %>
<% end %>