<div id="header-container">
    <ul id="header-bar">
        <li><%= link_to 'VRAME', admin_root_path, :class => 'logo' %></li>
        
        <%- if user -%>
        <li>        
            <ul id="nav">
                <li>
                    <%= link_to 'Kategorien', admin_categories_path %>
                    <%= tree_ul(Category.roots) { |item| link_to h(item.title), admin_category_path(item), :class => item.children.empty? ? '' : 'top' } %>
                </li>
            </ul>
        </li>
        
        <li class="meta"><%= link_to 'Log out', user_sessions_path, :method => 'delete' %></li>
        
        <li class="meta"><strong><%=h user.email %></strong></li>
        
        <!-- <li class="meta"><a href="">User-Verwaltung</a></li> -->
        <%- end -%>
    </ul>
</div>